* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: #B191FF;
}

.container {
    width: 80vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fortune-cookie {
    text-align: center;
    background-color: #666;
    width: 450px;
    height: 350px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    background-color: #DAA436;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 32% 68% 30% 70% / 0% 89% 11% 100%;
    margin-left: -45px;
    transform: rotate(15deg);
}

.right.right-open {
    transform: rotate(0deg);
    margin-left: 0px;
    transition: transform 0.5s linear;
    transition: margin-left 0.5s linear;
}

.left {
    background-color: #DAA436;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 75% 25% 69% 31% / 84% 0% 100% 16%;
    margin-right: -45px;
    transform: rotate(-15deg);
}

.left.left-open {
    transform: rotate(0deg);
    margin-right: 0px;
    transition: transform 0.5s linear;
    transition: margin-right 0.5s linear;
}

.advice {
    width: 500px;
    height: 50px;
    background-color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fortune-text {
    
}

button {
    font-family: inherit;
    font-size: 25px;
    width: 300px;
    height: 50px;
    cursor: pointer;
}